@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979&family=Short+Stack&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: #f0f0f0;
  text-decoration: none;
  width: auto;
  height: 80px;
}

.navbar h2 {
  font-family: "Climate Crisis", sans-serif;
}

.InputContainer {
  width: 425px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #e3d5ff, rgb(255, 231, 231));
  border-radius: 30px;
  overflow: visible;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  transition: all 0.3s ease-in-out;
  position: relative;
}
.InputContainer:hover {
  transform: none;
}

.input {
  width: 400px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: rgb(6, 7, 66);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
  font-family: "Short Stack", cursive;
  text-transform: lowercase;
  font-style: italic;
}

.navbar button {
  background: none;
  border: none;
  color: #333;
  font-size: 1.25rem;
  cursor: pointer;
  font-family: "Short Stack", cursive;
}

.navbar .icon-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.navbar h2 {
  color: #333;
  margin: 0;
  font-size: 1.5rem;
  cursor: pointer;
  font-style: normal;
  transition: all 0.3s ease-in-out;
}

.navbar h2:hover {
  color: #555;
  font-style: italic;
  transition: all 0.3s ease-in-out;
  transform:scale(1.05);
}

.navbar .search-bar {
  position: relative;
}

.dropdown {
  position: absolute;
  color: #333;
  text-align: left;
  top: calc(
    100% + 10px
  );
  left: 0;
  width: 100%;
  background: white;
  border: 2px solid #e3d5ff;
  border-radius: 8px;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown::-webkit-scrollbar {
  display: none;
}

.dropdown-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #eeeeee;
}

.dropdown-item span {
  padding-left: 10px;
}
.dropdown-img {
  width: 10%;
  height: 10%;
  object-fit: cover;
}
