@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Climate+Crisis:YEAR@1979&family=Short+Stack&display=swap");
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(270px, 270px));
  gap: 50px;
  padding: 100px;
  padding-top: 30px;
  justify-content: center;
}

.product-grid a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.product-grid a:visited,
.product-grid a:hover,
.product-grid a:active {
  text-decoration: none;
  color: inherit;
}

.product-card a {
  text-decoration: none;
  color: inherit;
}

.product-card {
  border: 2px solid transparent;
  border-radius: 10px;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, #e3d5ff, rgb(255, 231, 231)) border-box;
  padding: 15px;
  text-align: left;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  transition: all 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.image-wrapper {
  width: 100%;
  height: 180px;
  overflow: hidden;
  background: #f5f5f5;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-info {
  padding: 12px;
  color: #222;
  text-decoration: none;
}

.product-info h4 {
  font-size: 1rem;
  margin: 0;
  height: 40px;
  font-family: "Bricolage Grotesque", sans-serif;
}

.product-card .price {
  margin-top: 8px;
  font-weight: bold;
  color: #8d8d8d;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 500;
}

.add-cart-btn {
  width: calc(100% - 24px);
  margin: 0 12px 12px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, #e3d5ff, rgb(255, 231, 231)) border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.2s ease;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 500;
}

.add-cart-btn:hover {
  background: lavender;
  transition: 0.2s ease;
}


.product-card {
  position: relative;
}

/* sale badge */
.sale-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #beb2d6;
  color: rgb(255, 255, 255);
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}

/* prices */
.price-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sale-price {
  font-size: 18px;
  font-weight: bold;
  color: #111;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  font-size: 14px;
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, minmax(250px, 200px));
      gap: 50px;
  padding: 100px;
  padding-top: 30px;
  }
}

@media (max-width: 425px) {
  .product-grid {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 50px 30px;
    padding-top: 30px;
   }  
  }